*{
    margin: 0;
    padding: 0;
}


:root{
--white:rgba(229, 222, 222, 0.833);
    --green:  #2AF598;
    --blue:#14C9CB;
     --dark:#080e18;
     --light:#152238;
    --gradient:linear-gradient(to right, var(--green),var(--blue));
}
body{
    background-color: var(--dark);
}

.html{
    scroll-behavior: smooth;
}